<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generar Reportes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generar_reportes.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tu Marca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('drones') }}">Drones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('reservas') }}">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('envios') }}">Envíos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rutas') }}">Rutas</a>
                    </li>
                    <!-- Nuevo enlace para generar reportes -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('generar_reportes') }}">Generar Reportes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido de la página -->
    <div class="container">
        <h1>Generar Reportes</h1>
        <!-- Aquí puedes agregar el contenido específico de la página -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-v0aas0FjOH6zleM5x9xhiB4dp/JC5nP0+daUCD3KdFF3FgMDvmaC62yuW4QhZWrn" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-FyTYlIEfVleS2k9Lh4FyZlpPLdNx23HYknWQLAH3XFtXZZJ3InQciJ8lZAXuqsr4" crossorigin="anonymous"></script>
</body>
</html>
